{% extends 'base.html' %}

{% block content %}

<h3 class="mb-4 fw-bold text-dark">📊 Attendance Report</h3>

<div class="row g-4">

    {% for item in data %}
    <div class="col-md-4">
        <div class="card shadow-sm border-0 p-4 text-center h-100">

            <!-- Student Name -->
            <h5 class="mb-2 text-capitalize">{{ item.name }}</h5>

            <!-- Percentage -->
            <h2 class="fw-bold text-success">
                {{ item.percentage|floatformat:1 }}%
            </h2>

        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}